html,
body {
    /* background-color: #FADBD8; */
    color: #000000;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    font-family: chiller;
    font-size: 25px;
}


/* 
.full-height {
    height: 2vh;

} */

/* .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
} */

/* .position-ref {
    position: relative;
} */

.top-right {
    position: absolute;
    right: 40px;
    /* top: 10px; */
    color: #FDFEFE;
}

.content {
    text-align: center;
}

.container {
    text-align: center;
}

.title {
    font-size: 100px;
    font-family: Jokerman;
    font-weight: bold;
    height: 100px;
}

/* a { */
    /* color: #000000; */
    /* padding: 0 30px; */
    /* font-size: 50px;
    font-weight: 600px;
    letter-spacing: .2rem; */
    /* text-decoration: none;
    text-transform: uppercase; */
    /* font-family: chiller;
    transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
} */

/* .m-b-md {
    margin-bottom: 30px;
} */


/* *********************************************** */




